.paging {
    color: white;
    font-size: 1.5em;
}

.paging button {
    background-color: rgb(17, 93, 233);
    width: 30px;
    height: 35px;
    color: white;
    font-size: 1em;
}

.paging button:hover {
    background-color: rgb(106, 147, 223);
}