.pokemon-item {
    list-style: none;
    height: 420px;
    width: 325px;
    text-align: center;
    margin: 0 10px 10px 0;
    border: 6px solid gold;
    border-radius: 5%;
    background-color: grey;
}

.pokemon-item img {
    height: 100px;
}

/* .pokemon-item:hover {
    transition: .4s;
    transform: scale(1.2);
} */

h3 {
    margin-top: 40px;
}