.pokemon-item {
    list-style: none;
    height: 300px;
    width: 300px;
    text-align: center;
    margin: 0 10px 10px 0;
    border: 3px solid red;
    border-radius: 100%;
    background-color: grey;
}

.pokemon-item img {
    height: 150px;
}

.pokemon-item:hover {
    transition: .4s;
    transform: scale(1.2);
}

h3 {
    margin-top: 40px;
}